body {
    background-color: black;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 20%;
}

strong {
    color: #22D4FD;
}

a {
    color: black;
    text-decoration: none;
    background-color: #22D4FD;
    padding: 0.6rem;
    border: 1px solid transparent;
    border-radius: 10px;
}

img {
    width: 30%;
    margin-right: 5%;
}


