body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #071C33;
    color: #FFFFFF;
    gap: 2rem;
}

.cabecalho {
    h1 {
        font-size: 2rem;
        margin-bottom: 1%;
    }
    h2 {
        font-size: 1.3rem;
        margin-bottom: 3%;
    }
}

.apresentacao, .curiosidades {
    text-align: left;
    margin: 5%
}

.curiosidades {
    h3 {
        font-size: 1.2rem;
        margin-bottom: 2%;
    }

    li {
        margin: 0 0 2% 5%
    }
}

ul {
    text-align: start;
}

.imagem__terra {
    width: 30%;
    border-radius: 100%;
    margin: 8% 5%;
    box-shadow:
        0 0 20px rgba(100, 149, 237, 0.6),
        0 0 40px rgba(100, 149, 237, 0.4),
        0 0 60px rgba(100, 149, 237, 0.2);
}